{% extends 'base.html' %}

{% block content %}
<!-- r"""
In a list view, the assumption is the data is in an 'object_list'
""" %}
-->
<table>
    <caption><h3>E-Mail Data</h3></caption>
    <tr>
        <th>ID</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Subject</th>
        <th>Send Time</th>
        <th>Message Body</th>
        <th>CC Myself?</th>
    </tr>
{% for instance in object_list %}
    <tr>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.id }}</a>
        </td>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.sender }}</a>
        </td>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.recipient }}</a>
        </td>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.subject }}</a>
        </td>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.send_time }}</a>
        </td>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.body }}</a>
        </td>
        <td>
            <a href="/core/{{ instance.id }}">{{ instance.cc_myself }}</a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

<!--
<a href="/core/{{ instance.id }}">{{ instance.id }}</a>
-->